



:root {
    --color-background-primary: rgba(210, 51, 249, 0.8);
    --color-background-secondary: rgba(74, 27, 184, 0.8);
    --color-heading-primary: #d0f6ffb0;
}

// $color-heading-primary: #79d9f1b0;
