
.navigation {
    
    width: 100%;
    background-color: #eee;
    // height: 13rem;
    position: fixed;
    top: 0;
    left: 50%;
    z-index: 40;
    transform: translate(-50%, 0);
    display: flex;
    justify-content: center;
    align-items: flex-start;
    border-bottom: 1px inset rgb(122, 48, 219);

    @media (max-width: 450px) {
        // flex-grow: 1;
        height: 136px;
        align-items: flex-start;
    }
    
    
    
    &:hover {
        border-bottom: 1px inset #eee;
    }
    
    &__nav {
        
        
        &__links {
            
            display: flex;
            // justify-content: flex-end;
            @media (max-width: 450px) {
                flex-direction: column;
                justify-content: center;
                align-items: center;
                // flex-grow: 1;
            }


            a {
                text-decoration: none;
                font-size: 2rem;
                // margin-bottom: 0rem;
                padding: 2rem 3rem;
                // margin-right: 5rem;
                align-items: flex-start;
                text-transform: uppercase;
                transition: background-color .3s;

                &:hover {
                    background-color: rgb(122, 48, 219);
                    color: #eee;
                    // border-radius: 5px;
                }

                @media (max-width: 450px) {
                    width: 100%;
                    // align-self: center;
                    text-align: center;
                    padding: 1rem;
                }
            }
        }
    }
}
